{% load static %}
{% include "menu.html" %}
<h1>Hi, it's me, Will-Maple!</h1>
<b>Github: <a href="https://github.com/Will-Maple">Will-Maple</a></b><br><br>
<b>Portfolio Website: <a href="https://will-maple.github.io/Portfolio-Website/">Includes Dog!</a></b><br><br>
<b>LinkedIn: <a href="https://www.linkedin.com/in/william-pounds-57215136b">Now with more
    professionalism!</a></b><br><br>
<b>Email: WillMaple@workmail.com</b><br><br>
<b>About Me: Full Stack Developer plus Dog </b><br><br>
<b>Dog Pic: POV my workdesk</b><br><br>
<img src="{% static 'dog.jpg' %}" alt="dog" height="300px"><br>
<br><br>
<a href="{% url 'recipes:home' %}">click me to go back</a>