<!DOCTYPE html>
<html>
{% load static %}
{% include "menu.html" %}
<link rel="stylesheet" href="{% static 'recipes/style.css' %}">
<title>
  Welcome!
</title>

<body>
  <h1 class="main-header">Welcome to our recipes! Eventually!</h1>
  <div class="recipe-images">
    {% for recipe in three_recipes %}
    <a href="{{ recipe.get_absolute_url }}">
      <img src="{{ recipe.image.url }}" alt="{{ recipe.name }}">
    </a>
    {% endfor %}
  </div>
  <a class="recipes-link" href="{% url 'recipes:list' %}">See All Recipes (click me)!</a>
</body>

</html>